/*
Theme Name:     Intoxalock blog
Theme URI:      http://www.intoxalock.com/blog/
Description:    Intoxalock blog theme
Author:        Agaba Kabunga
Author URI:     http://www.intoxalock.com/blog/
Version:        1.0
*/

body {
	font-family: 'Lato', sans-serif;
       float:right;
}

/* Header */
header {
	margin: 20px 0;
	position: relative;
        width: 924px;
}
hgroup {
	position: absolute;
	bottom: -60px;
}

/* Alignment */
.alignleft {
	float: right;
	margin: 0 20px 20px 0;
}
.alignright {
	float: right;
	margin: 0 0 20px 20px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 20px auto;
}
.nav-tabs > li, .nav-pills > li.alignright {
	float: right;
}

/* Nav CSS */
.navbar ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.navbar li {
	float: left;
	position: relative;
}
.navbar a {
	display: block;
	text-decoration: none;
      
}
.navbar ul ul {
	display: none;
	float: left;
	position: absolute;
	z-index: 99999;
}
.navbar ul ul ul {
	left: 100%;
	top: 0;
}
.navbar ul ul a {
	width: 100px;
}
.navbar ul li:hover > ul {
	display: block;
    background-color: #f8941e;
       
}

/* Chat styles */
.chat-transcript {
	background: #fefefe;
	font-family: monospace;
	padding: 10px 0;
	border-radius: 5px;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.chat-transcript div.chat-row:nth-of-type(odd) {
	background: #efefef;
}
.chat-row {
	padding: 0 20px;
}
.chat-author {
	display: inline-block;
}
.chat-text {
	display: inline-block;
	text-indent: 5px;
}
.chat-text p {
	margin: 0;
}
.chat-speaker-1 .chat-author {
	color: blue;
}
.chat-speaker-2 .chat-author {
	color: red;
}
.chat-speaker-3 .chat-author {
	color: green;
}
.chat-speaker-4 .chat-author {
	color: orange;
}

/* Helper Styles */
.entry {
	clear: both;
	margin: 40px 0;
}
#searchform label {
	display: block;
}
.first {
	margin-left: 0;
}
.error404 .entry .span3 li {
	width: 100%;
}

/* Social  media */

.custom #menu-item-215 a {
display:block; height:24px; width:24px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px;
background-image:url('wp-content/themes/Intoalock/img/facebook_1.jpg'); background-position:0 0;
}
	.custom #menu-item-215 a:hover { background-position:0 -24px; }

.custom #menu-item-216 a {
display:block; height:24px; width:24px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px;
background-image:url('wp-content/themes/Intoalock/img/twitter_1.jpg'); background-position:-24px 0;
}

	.custom #menu-item-216 a:hover { background-position:-24px -24px; }

.custom #menu-item-217 a {
display:block; height:24px; width:24px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px;
background-image:url('wp-content/themes/Intoalock/img/youtube_1.jpg'); background-position:-48px 0;
}

	.custom #menu-item-217 a:hover { background-position:-48px -24px; }

.custom #menu-item-218 a {
display:block; height:24px; width:24px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px;
background-image:url('wp-content/themes/Intoalock/img/linkedi_1.jpg'); background-position:-72px 0;
}

	.custom #menu-item-218 a:hover { background-position:-72px -24px; }

.custom #menu-item-219 a {
display:block; height:24px; width:24px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px;
background-image:url('wp-content/themes/Intoalock/img/rss_1.jpg'); background-position:-72px 0;
}

	.custom #menu-item-219 a:hover { background-position:-96px -24px; }